@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

* {
  font-family: 'Geist', sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
